*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #053f5a; /*forest green*/
    --secondary-color: #f3eeee; /*warm sand*/
    --accent1-color: #0c0b57; /*dark slate blue*/
    --accent2-color: #050d1f; /*light golden yellow*/
    --heading-font:Times New Roman, Georgia, serif; 
    --body-font: Arial, Helvetica, sans-serif;

}

main {
  max-width: 900px;
  margin: 1rem auto;}
  

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
}

header img{
    height: 60px;
    width: auto;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;

}

body{
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
    
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
   
    
}

nav, p, section, article{
    margin: 6px;
    padding: 18px;
}

.socialmedia a {
    text-decoration: none;
}

.h1{ 
    position: relative;
}

    .hero img{ 
    display: block;
    width: 10%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #eee; /* white text*/
}

article {
        position: absolute;
        top: 50px; /* 50px from the top of the container */
        left: 20px; /* 20px from the left of the container */
        width: 300px;
        background-color: lightblue;
        padding: 15px;
        border: 1px solid blue;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Example style */
    }

    .hero article img{
        float: right;
        width: 125px ;
    }


.site-header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
}

.main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav a:hover{
    color: #000;
    border-bottom: 2px solid #000;
}

.nav-links li a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
}

.social-icons {
  display: flex;
  margin-left: auto; 
  align-items: center;
}

.social-icons img {
   margin-left: 10px;
  height: 24px; 
  width: auto;
}