*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #053f5a; /*forest green*/
    --secondary-color: #f3eeee; /*warm sand*/
    --accent1-color: #0a0942; /*dark slate blue*/
    --accent2-color: #050d1f; /*light golden yellow*/
    --heading-font:Times New Roman, Georgia, serif; 
    --body-font: Arial, Helvetica, sans-serif;

}

main {
  max-width: 900px;
  margin: 1rem auto;}
  

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
}

header img{
    height: 60px;
    width: auto;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;

}

body{
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
    
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
   
    
}

nav, p, article{
    margin: 6px;
    padding: 18px;
}



.socialmedia a {
    text-decoration: none;
}

.hero{ 
    position: relative;
}

.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
    height: 200px;

}

.hero3 {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
    height: 10px;

}


.hero2 figure{
    flex: 1 1 18%;
    margin-left: 15px;
    text-align: center;

}

.hero2 figure figcaption{
    text-align: center;
}

.hero2 h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

}

.hero2 figure img{
    height: 100px;
    width: 100px;
}

.hero img{ 
    display: block;
    width: 10%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white; 
}

.hero article {
        
        top: 315px; 
        right: 0px;
        width: 830px;
        background-color: lightblue;
        padding: 15px;
        border: 1px solid blue;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    }

.heroic img {
    float: center;
    width: 840px;

}
    

    .hero article img{
        float: right;
        width: 120px ;
        height: 150px;
    }


.site-header.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
}

.main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
}

.social-icons {
  display: flex;
  margin-left: auto; 
  align-items: center;
}

.social-icons img {
  margin-left: 10px;
  height: 24px; 
  width: auto;

}

iframe{
    margin: 1rem;
    border: aliceblue;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: #0a0942;
    color: #fff;
    font-weight: 700;
}

input, textarea {
    padding: 0.25rem;
    width: 350px;
    
}

button{
    padding: auto;
    height: 25px;
}

checkbox{
    margin: 1px;
    text-align: center;
    right: 1px;
    
}

label {
    cursor: default;
}
.item{
    border: none;
    text-align: 
}