*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #055a05; /*forest green*/
    --secondary-color: #f4a261; /*warm sand*/
    --accent1-color: #264653; /*dark slate blue*/
    --accent2-color: #e9c46a; /*light golden yellow*/
    --heading-font:Times New Roman, Georgia, serif; 
    --body-font: Arial, Helvetica, sans-serif;

}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
    
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color)
}

nav, p, section, article{
    margin: 6px;
    padding: 18px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{ 
    position: relative;
}

.hero img{ 
    display: block;
    width: 10%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text*/
}

article {
        position: absolute;
        top: 50px; /* 50px from the top of the container */
        left: 20px; /* 20px from the left of the container */
        width: 300px;
        background-color: lightblue;
        padding: 15px;
        border: 1px solid blue;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Example style */
    }

    .hero article img{
        float: right;
        width: 125px ;
    }
